* {
    box-sizing: border-box;
    margin: 0, auto;
}

body {
    background-color: #d6a895;
}

.infobox{
    background-color: #a0705c;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    padding: 1em;
    -webkit-box-shadow: 1px 1px 10px 2px #000;
    border-radius: 10px;
}

p {
    font-size: 3vh;
    margin: 1rem;
}

h1 {
    color: var(--fontcolor);
    text-align: center;
    font-size: 50px;
    font-family: var(--font);
    text-transform: uppercase;
}

h3 {
    font-family: var(--font);
    text-transform: uppercase;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    opacity: 0.56;
    font-size: 17px;
    font-weight: bold;
    background-color: var(--bgc);
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.nav-ul a {
    display: inline-block;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    color: var(--fontcolor);
    width: 100%;
    font-size: 0.8em;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: var(--hovercolor);
}

.logo {
    float: left;
}

.fa-recycle {
    color: green;
}

.releather-left {
    display: none;
}

.releather-mid {
    border-style: solid;
    border-width: 2px
}

.hamburger {
    border: 0;
    color: #fcfcfc;
    cursor: pointer;
    font-size: 20px;
    display: none;
    background-color: transparent;
}

.home {
    color: #fcfcfc;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.icons {
    padding: 1.5rem;
}

.leather {
    margin-top: -5rem;
    display: none;
}

header {
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10vh;
}

.container img{
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

.flex{
    background-color: #a0705c;
    -webkit-box-shadow: 1px 1px 10px 2px #000;
    text-align: center;
    flex: 30%;
    padding-top: 2rem;
    padding-bottom: 8rem;
    margin: 20px;
    margin-left: -2rem;
    margin-right: -2rem;
    border-radius: 10px;
}

.lex p{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.flex button{
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 0px;
    background-color:#d6a895;
}

.column1 {
    float: center;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: var(--boxcolor);
    color: var(--bgc);

}

.column1 a {
    color: var(--bgc);
    letter-spacing: 15px;
}

@media screen and (min-width: 461px){
    .container{
        display: flexbox;
        flex-direction: row;

    }
    .leather{
        display:block;
        width: 100%;
        height: 12rem;

    }
    nav{
        font-size: 32px;
    } 
    .flex{
        margin-left: 2em;
        margin-right: 2em;
    }
}
