        * {
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
        }
        
         :root {
            --bgc: #d6a895;
            --fontcolor: #592b18;
            --hovercolor: rgb(104, 66, 50);
            --boxcolor: #A0705C;
        }
        
        body {
            background-color: var(--bgc);
        }
        /*Navigationbar*/
        
        nav {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            opacity: 0.56;
            font-size: 17px;
            font-weight: bold;
            background-color: var(--bgc);
        }
        
        .nav-ul {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0;
            list-style-type: none;
            width: 100%;
        }
        
        .nav-ul a {
            display: inline-block;
            padding-top: 0.10rem;
            padding-bottom: 0.10rem;
            color: var(--fontcolor);
            width: 100%;
            font-size: 0.8em;
            text-decoration: none;
        }
        
        nav a:hover,
        nav a:focus {
            color: var(--hovercolor);
        }
        
        .logo {
            float: left;
        }
        
        .fa-recycle {
            color: green;
        }
        
        .releather-left {
            display: none;
        }
        
        .releather-mid {
            border-style: solid;
            border-width: 2px
        }
        
        .hamburger {
            border: 0;
            color: #fcfcfc;
            cursor: pointer;
            font-size: 20px;
            display: none;
            background-color: transparent;
        }
        
        .home {
            color: #fcfcfc;
            cursor: pointer;
            display: none;
        }
        
        .hamburger:focus {
            outline: none;
        }
        
        .icons {
            padding: 1.5rem;
        }
        
        .leather {
            margin-top: -5rem;
            width: 100%;
            height: 12rem;
            display:block

        }
        
        header {
            z-index: -1;
        }
        /*Typografi*/
        
        .vores-historie {
            text-align: center;
        }
        /*vaser*/
        
        .vu {
            background-color: var(--boxcolor);
            margin: 0.625rem;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 1.5rem;
            padding: 0.625rem;
            display: grid;
            justify-content: center;
            border-radius: 10px;
            -webkit-box-shadow: 1px 1px 10px 2px #000000;
            box-shadow: 1px 1px 10px 2px #000000;
        }
        
        .vase-udvalg3 {
            margin-bottom: 1.5rem;
        }
        
        .vuheader {
            background-color: var(--bg);
            color: #000000;
            margin-bottom: 0.625rem;
        }
        
        .buybtn {
            background-color: var(--bgc);
            text-decoration: none;
            padding: 0.625rem;
            margin-top: 0.625rem;
            color: #000000;
            font-weight: bold;
        }
        
        .brdtext {
            margin-top: 0.625rem;
        }
        /*Footer*/
        
        .column1 {
            float: center;
            width: 100%;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            background-color: var(--boxcolor);
            color: var(--bgc);
<<<<<<< HEAD
=======

>>>>>>> main
        }
        
        .column1 a {
            color: var(--bgc);
            letter-spacing: 15px;
        }

        .lampe{
            width: 80%;
            height: 80%;
        }
        .lamp{
            width: 80%;
            height: 80%;
        }
        /* .grid-container{
    position: relative;
    text-align: center;
    color: white;
    padding-left: 1rem;
    background-image: url(img/Leather.png);
} */
        
        .grid-container {
            position: relative;
            color: var(--fontcolor);
            text-align: center;
            opacity: 1;
        }
        
        .grid-container:after {
            content: "";
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.56;
            z-index: -1;
        }
        
        .intro {
            text-align: center;
            background-color: var(--boxcolor);
            width: 90%;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
            border-radius: 10px;
            -webkit-box-shadow: 1px 1px 10px 2px #000000;
            box-shadow: 1px 1px 10px 2px #000000;
        }
        
        aside {
            width: 100%;
            margin-left: auto;
            float: center;
        }
        
        figure.item {
            /* To correctly align image, regardless of content height: */
            display: inline-block;
            /* To horizontally center images and caption */
            text-align: center;
            /* The width of the container also implies margin around the images. */
            /* width: 10rem; */
            margin-left: 10%;
        }
        
        .profile {
            width: 150px;
            text-align: center;
        }
        
        .caption {
            /* Make the caption a block so it occupies its own line. */
            display: block;
            color: rgb(0, 0, 0);
            padding-bottom: 1.5rem;
        }
        /*Media querie for mobile*/
        
        @media screen and (max-width: 845px) {
            .nav-ul {
                margin-top: 1rem;
                margin-left: -1rem;
                padding-left: 1rem;
                display: none;
                border-bottom: 1px solid;
                width: 100%;
                flex-direction: column;
                background-color: #dfdddd;
            }
            .nav-ul .icons {
                margin: -2rem 0 -1rem 0;
            }
            nav {
                padding-top: 15px;
                padding-bottom: 15px;
                opacity: 1;
            }
            .leather {
              display: none;
            }
            .home {
                display: flex;
                display: show;
                width: 50%;
            }
            .nav-ul a {
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                font-size: 1.8em;
            }
            .nav-ul.show {
                display: flex;
            }
            .nav-ul .releather-mid {
                display: none;
                overflow: hidden;
            }
            .releather-mid {
                display: none;
            }
            .releather-left {
                display: flex;
                justify-content: flex-start;
                margin-left: 1rem;
                color: var(--fontcolor);
                font-size: 2.2rem;
                border-style: solid;
                border-width: 2px;
                padding: 0 3px 0 3px;
                text-decoration: none;
            }
            .hamburger {
                display: flex;
                justify-content: flex-end;
                margin-right: 3rem;
                color: var(--fontcolor);
            }
        }
        /*Media querie for tablet*/
        
        @media screen and (max-width: 1079px) {}
        /*Media querie for computer*/
        
        @media screen and (min-width: 1080px) {
            /*Vaser siden*/
            .vu {
                margin-top: 3rem;
                margin-bottom: 3rem;
                margin-left: 10rem;
                margin-right: 10rem;
            }
            .vuheader {
                font-size: 50px;
                padding: 3rem;
            }
            .vasebilleder {}
            /**/
            /**/
            /**/
        }